@use '../../styles/vars.scss';

.ReviewForm {
  width: 80%;
  margin: 3% auto;
  font-family: vars.$font-text;

  .title {
    font-size: vars.$font-size-title;
    font-family: vars.$font-title;
    font-weight: vars.$font-weight-title;
    color: vars.$color-gold-intense;
    text-align: center;
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .comment-review-label {
      display: flex;
      flex-direction: column;
      width: 95%;

      span {
        align-self: center;
        margin-bottom: 0.5rem;
      }

      textarea {
        resize: none;
        width: 100%;
        height: 150px;
        padding: 0.5rem;
        margin: 0 auto;

        @media (min-width: 768px) {
          width: 570px;
        }

        @media (min-width: 1024px) {
          width: 650px;
        }
      }
    }

    .rate {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem 0;

      legend {
        font-family: vars.$font-text;
      }
    }

    .btn-login {
      border-radius: 5px;
      font-size: 0.9rem;
      width: 100px;
      padding: 6px 12px;
      background-color: vars.$color-gold-intense;
      color: vars.$color-black;
      font-size: 1rem;
      font-weight: bold;
      text-decoration: none;
      border: none;
      border-radius: 4px;
      // font-family: vars.$font-text;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

      &:hover {
        background-color: vars.$color-black;
        color: vars.$color-gold-intense;
      }
    }

    .login-message {
      text-align: center;
      width: 50%;

      em {
        text-decoration: underline;
        color: vars.$color-gold-intense;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
