// **Imports**
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

// **Palette de couleurs**
$color-grey: #4a4a4a;
$color-light-grey: #ccc;
$color-black: #000;
$color-white: #fff;
$color-black-transp: rgba(0, 0, 0, 0.6);
$color-gold: #9a6e32;
$color-gold-light: #f8f09e;
$color-gold-intense: #cea800;

// **Polices et styles typographiques**
$font-title: 'Dancing Script', cursive;
$font-size-title: 3rem;
$font-weight-title: 700;

$font-text: 'Oswald', sans-serif;
